:root {
    --background-color-blue: #051C48;
    --background-color-orange: #FE6B0C;
    --color-font-white: #FFFFFF;
    --font-size-23: 23px;
    --font-primary: #2E323B;

    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px
}

* {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.inactive {
    display: none
}

.section-tematicas {
    display: grid;
    justify-items: center;
    align-items: center;
    background: #EEF4FF;
    height: 100%;
    min-height: 851px;
}

.section-tematicas h1 {
    color: var(--background-color-blue);
    font-size: 47px;
    font-weight: 700;
    margin: 83px 0 27px 0;
}

.div-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cards-container {
    background-color: var(--color-font-white);
    height: 325px;
    width: 100%;
    max-width: 325px;
    border: 1px;
    box-shadow: 0px 9.99357px 49.9679px 4.99679px rgb(0 0 0 / 15%);
    padding: 27px;
    border-radius: 20px;
    margin: 18px;
    margin-bottom: 126px;
}

.orange {
    background-color: var(--background-color-orange);
}

.yellow {
    background-color: #FCD800;
}

.container-img {
    width: min-content;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 30px;
}

.container-img img {
    width: 72px;
    height: 72px;
}

.cards-container p {
    font-weight: 600;
    font-size: var(--font-size-23);
    line-height: 117.5%;
    color: var(--font-primary);
    margin-bottom: 38px;
    max-width: 230px;
    min-height: 110px;
}

.cards-container a {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--background-color-orange);
    text-decoration: none;
}

@media(max-width:1015px) {
    .div-cards {
        flex-direction: column;
    }
    
}